<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Quiz Game</h1>
    <form action="/submit" method="post">
        {% for question in questions %}
            <h3>{{ question.question }}</h3>
            {% for option in question.options %}
                <input type="radio" name="{{ question.question }}" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
            <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
